.gameRow.ready{
    cursor:pointer;
}

.gameRow.ready:hover{
    background-color:deepskyblue;
    color:white;
}

.leadShown.active{
	cursor:pointer;
}
	
.leadShown.active:hover{
	background-color:deepskyblue;
	color:white;
}

.lobbyPanelContent{
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 500px;
}



.lobbyPanelContent button, .lobbyPanelContent input{
    height:30px;
    margin-bottom:5px;
}

#loginTop{
    padding:.5em;
}

#registerAsNewPlayerButton{
    display:block;
    height:50px;
    width:100%;
    font-size:20px;
}

#registerAsNewPlayerButton:hover{
    color:red;
}


tr:nth-child(even) {
    background-color: #cccccc;
}
h2{
    margin-top:0;
}


#userFormLoginSubmit{
    width: 100px;
    height: 30px;
    font-size: 15px;
}


#mainContentWrapper{
    max-width:2000px;
    padding:2em;
}

#loginPanel {
    font-size:2em;
    max-width: 1041px;
    display: inline-block;
    width: 100%;
}


#loginPanel input, #loginPanel label{
    display: inline-block;
    width: 100%;
    max-width: 500px;
    height: 20px;
    margin-bottom:5px

}


#gameStageMain{
    position:relative;
    border:4px solid #981a22;
    display: inline-block;
    width:1000px;
}

#adminPanelWrapper{
    position:fixed;
    top:0;
    left:100px;
    display:none;
    text-align:left;
    z-index:1000;
}

#waitingScreen{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 500;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    padding-top: 10%;
    transition: all 1s ease;
    display:none;
}

#bottomStage > div{
    display:inline-block;
    height:150px;
    vertical-align: top;
    padding:10px;
}
#cardStage{
    display:inline-block;
    max-width: 600px;
    width: 100%;
    position:relative;
    height:150px;

}




#wrapper{
    border:1px solid black;
    height:480px;
    text-align:center;
    vertical-align: text-bottom;

}

#districtStage{
    position:relative;
    padding:1em;
    height: 328px;

}
/* =========== Turn Log ============ */
#turnLogWrapper{
    text-align:center;
    height:346px;
    width:787px;
    position: absolute;
    z-index: 200;
    left: 50%;
    margin: 0 0 0 -393.5px;
}


/* =========== DebateGame ============ */

#scrollWrapper{
    background-color:lightgrey;
    text-align:center;
    display:table;
    height:346px;
    width:787px;
    position: absolute;
    z-index: 100;
    left: 50%;
    margin: 0 0 0 -393.5px;
}

#scrollStage{
    position:relative;
    background-color:grey;
    height: 200px;
    width: 700px;
    display: inline-block;
    border-bottom:1px solid black;
    cursor:pointer;

}
#scrollCell{
    display:table-cell;
    vertical-align:middle;

}



#debater{

    display:inline-block;
    position:absolute;

    bottom:0;
    left:50px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#debater img{
    width:50px;
}

.obstacle{
    position:absolute;
    bottom:0;
    right:0;
    width:10px;
    background-color:green;
    display: inline-block;
    height: 10px;
}

.obstacle span{
    display:inline-block;
    margin-top:12px;
    background-color:white;
}

#scoreField{
    position: absolute;
    bottom: 0;
    left: 0;
}

#scrollOverlay{
    background-color:rgba(0, 0, 0, 0.72);
    position:absolute;
    z-index:3000;
    top:0;
    bottom:0;
    right:0;
    left:0;
    color:white;
    cursor:pointer;

}

/* =========== Icons ============ */
#buntingImage{
        width:1000px;
}

#currentPlayerImage{
  width:100px;
}

#opponentPlayerImage{
    width:150px;

}
#opponent{
    border:1px solid #112c79;
    padding:10px;
    display:inline-block;
    margin-top:10px;
}
#opponentWrapper{
    margin-top: 10px;
}


#miniInfo{
    display:none;
}